# Idealista API JSON Files
Convert JSON files into one DataFrame to work with

In [1]:
# Load Google Drive
from google.colab import drive

# Mount Google Drive through authorization
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/...

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# Load all necessary libraries
import json, os
from pandas import json_normalize
import pandas as pd

All JSON files located here: https://drive.google.com/drive/folders/1O3q6C6gzfQo-X4ZoDVpPE8-r4l5766gt?usp=sharing

In [3]:
### CHANGE THIS PATHNAME TO THE ONE THAT CONTAINS ALL JSON FILES ###
path = '/content/drive/My Drive'
# Set Working Directory where all JSON files are located
os.chdir(path)
# View Working Directory
os.getcwd()

'/content/drive/My Drive'

In [4]:
# Empty list to store data
appended_data = []

# For loop to go through all files in the directory
for filename in os.listdir(path):
    # Condition to only open JSON files
    if filename.endswith('.json'):
        # Load all JSON files
        with open(os.path.join(path, filename)) as f:
            data = json.load(f)
    # Create DataFrame from normalized JSON dictionary
    df = pd.DataFrame.from_dict(json_normalize(data['elementList']))

    # Append the empty list to store the DataFrame data
    appended_data.append(df)

# Concatinate DataFrames
appended_data = pd.concat(appended_data)
df = appended_data
# Save DataFrame as a CSV
#df.to_csv('ALL-JSON-FILES.csv')

# Count number of variables (columns)
print('Number of variables:', len(df.columns))
# Count number of records (rows)
print('Number of records:', len(df.index))

# See IF a file has a wrong format
#print(f)

Number of variables: 40
Number of records: 16500

## Overview of the Data

In [5]:
# Preview "dirty" data
df.head()

  propertyCode  ... topNewDevelopment
0   [86350566]  ...               NaN
1   [88820218]  ...               NaN
2   [88536347]  ...               NaN
3   [88744592]  ...               NaN
4   [87535127]  ...               NaN

[5 rows x 40 columns]

In [6]:
# View all DataFrame column names
df.columns

Index(['propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'price',
       'propertyType', 'operation', 'size', 'exterior', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'district', 'country',
       'latitude', 'longitude', 'showAddress', 'url', 'distance', 'hasVideo',
       'status', 'newDevelopment', 'newDevelopmentFinished', 'priceByArea',
       'hasPlan', 'has3DTour', 'has360', 'parkingSpace.hasParkingSpace',
       'parkingSpace.isParkingSpaceIncludedInPrice', 'detailedType.typology',
       'detailedType.subTypology', 'suggestedTexts.subtitle',
       'suggestedTexts.title', 'neighborhood', 'floor', 'hasLift',
       'parkingSpace.parkingSpacePrice', 'topNewDevelopment'],
      dtype='object')

In [7]:
# See Data Types
df.dtypes

propertyCode                                  object
thumbnail                                     object
externalReference                             object
numPhotos                                     object
price                                         object
propertyType                                  object
operation                                     object
size                                          object
exterior                                      object
rooms                                         object
bathrooms                                     object
address                                       object
province                                      object
municipality                                  object
district                                      object
country                                       object
latitude                                      object
longitude                                     object
showAddress                                   object
url                                           object
distance                                      object
hasVideo                                      object
status                                        object
newDevelopment                                object
newDevelopmentFinished                        object
priceByArea                                   object
hasPlan                                       object
has3DTour                                     object
has360                                        object
parkingSpace.hasParkingSpace                  object
parkingSpace.isParkingSpaceIncludedInPrice    object
detailedType.typology                         object
detailedType.subTypology                      object
suggestedTexts.subtitle                       object
suggestedTexts.title                          object
neighborhood                                  object
floor                                         object
hasLift                                       object
parkingSpace.parkingSpacePrice                object
topNewDevelopment                             object
dtype: object

## Cleaning and transformations

In [8]:
# STRINGS
for column in df:
    # Convert to string
    df[column] = df[column].astype(str)
    # Remove unnecessary characters
    df[column] = df[column].str.lstrip("['")
    df[column] = df[column].str.rstrip("]'")
    # Replace nans to NaNs (None)
    df[column] = df[column].replace(to_replace='nan', value=None)

# INTEGERS
for column in df[['propertyCode', 'numPhotos', 'price', 'priceByArea', 'rooms', 'bathrooms', 'distance', 'size', 'parkingSpace.parkingSpacePrice']]:
    # Convert to integers
    df[column] = pd.to_numeric(df[column], errors='coerce')
    
# TRUE/FALSE
for column in df[['exterior', 'showAddress', 'hasPlan', 'has3DTour', 'has360', 'hasVideo', 'hasLift', 'newDevelopment', 'parkingSpace.hasParkingSpace', 'parkingSpace.isParkingSpaceIncludedInPrice', 'newDevelopmentFinished', 'topNewDevelopment']]:
    # Capitalize TRUE and FALSE
    df[column] = df[column].str.upper()
    # Replace NaNs to FALSE
    df[column] = df[column].replace(to_replace='NAN', value='FALSE')
    # Convert TRUE (1) and FALSE (0) to integers
    (df[column] == 'TRUE').astype(int)

# Categorical variables (Label Encoding) ?
#for column in df[['status']]:
    #df['column'] = df['column'].astype('category')

# Drop unnecessary columns
df.drop(['thumbnail', 'showAddress', 'numPhotos', 'url', 'hasPlan', 'has3DTour', 'has360', 'hasVideo', 'externalReference', 'province', 'operation', 'country', 'detailedType.typology', 'suggestedTexts.subtitle', 'suggestedTexts.title', 'detailedType.subTypology'], axis=1, inplace=True)

# WHAT TO DO WITH THOSE ?
#df['neighborhood']
#df['municipality']
#df['district']
#df['address']

In [9]:
# See Data Types
df.dtypes

propertyCode                                    int64
price                                           int64
propertyType                                   object
size                                          float64
exterior                                       object
rooms                                           int64
bathrooms                                       int64
address                                        object
municipality                                   object
district                                       object
latitude                                       object
longitude                                      object
distance                                        int64
status                                         object
newDevelopment                                 object
newDevelopmentFinished                         object
priceByArea                                     int64
parkingSpace.hasParkingSpace                   object
parkingSpace.isParkingSpaceIncludedInPrice     object
neighborhood                                   object
floor                                          object
hasLift                                        object
parkingSpace.parkingSpacePrice                float64
topNewDevelopment                              object
dtype: object

## Clean DataFrame

In [10]:
# Preview data
df.head()

   propertyCode    price  ... parkingSpace.parkingSpacePrice  topNewDevelopment
0      86350566   612900  ...                            NaN              FALSE
1      88820218  1250000  ...                            NaN              FALSE
2      88536347   289000  ...                            NaN              FALSE
3      88744592  2900000  ...                            NaN              FALSE
4      87535127   430000  ...                            NaN              FALSE

[5 rows x 24 columns]

In [11]:
# Total amount of unique Property Codes
total = len(df.index)
uniques = len(df['propertyCode'].unique())

print('There are {} unique properties out of {}.'.format(uniques, total))

There are 6572 unique properties out of 16500.

In [12]:
# Total number of duplicates
df.duplicated(subset = 'propertyCode', keep = 'first').sum()

9928

What is the difference between UNIQUE and DUPLICATES?

In [13]:
# Dropping ALL duplicte values
df.drop_duplicates(subset ='propertyCode', 
                     keep = 'first', inplace = True)

In [14]:
# Preview unique data
df.head()

   propertyCode    price  ... parkingSpace.parkingSpacePrice  topNewDevelopment
0      86350566   612900  ...                            NaN              FALSE
1      88820218  1250000  ...                            NaN              FALSE
2      88536347   289000  ...                            NaN              FALSE
3      88744592  2900000  ...                            NaN              FALSE
4      87535127   430000  ...                            NaN              FALSE

[5 rows x 24 columns]

In [15]:
# Total amount of unique Property Codes
total = len(df.index)

print('There are {} total unique records.'.format(total))

There are 6572 total unique records.

In [22]:
######################################################
# Save cleaned DataFrame without Duplicates as a CSV #
#df.to_csv('ALL-JSON-FILES.csv')                      #
######################################################

## Analysis

In [17]:
# Value counts of column
df['floor'].value_counts()

1      1414
2      1172
bj     1071
3      1021
4       814
5       380
6       220
7       151
en       93
8        62
9        42
ss       35
10       22
12       16
11       15
14       14
st       11
-1       10
15        3
nan       2
17        2
13        2
Name: floor, dtype: int64

In [18]:
df['status'].value_counts()

good              5298
renew             1175
newdevelopment      99
Name: status, dtype: int64

In [19]:
dictionary = df['municipality'].value_counts().to_dict()
dictionary

{'Alcalá de Henares': 80,
 'Alcobendas': 26,
 'Alcorcón': 74,
 'Algete': 11,
 'Arganda': 32,
 'Arroyomolinos': 28,
 'Boadilla del Monte': 51,
 'Brunete': 12,
 'Camarma de Esteruelas': 1,
 'Campo Real': 5,
 'Casarrubuelos': 4,
 'Chinchón': 1,
 'Ciempozuelos': 24,
 'Ciudalcampo': 15,
 'Cobeña': 3,
 'Colmenar Viejo': 25,
 'Colmenarejo': 3,
 'Coslada': 20,
 'Cubas de la Sagra': 10,
 'Daganzo de Arriba': 5,
 'Fuenlabrada': 125,
 'Fuente del Fresno': 2,
 'Fuente el Saz de Jarama': 7,
 'Galapagar': 8,
 'Getafe': 99,
 'Griñón': 10,
 'Hoyo de Manzanares': 6,
 'Humanes de Madrid': 36,
 'La Moraleja': 107,
 'Las Rozas de Madrid': 88,
 'Leganés': 143,
 'Loeches': 11,
 'Madrid': 4584,
 'Majadahonda': 51,
 'Mejorada del Campo': 28,
 'Moraleja de Enmedio': 4,
 'Morata de Tajuña': 1,
 'Móstoles': 101,
 'Navalcarnero': 26,
 'Paracuellos de Jarama': 8,
 'Parla': 90,
 'Pinto': 22,
 'Pozuelo de Alarcón': 137,
 'Quijorna': 8,
 'Rivas-Vaciamadrid': 27,
 'San Agustin de Guadalix': 10,
 'San Fernando de Henares': 8,
 'San Martín de la Vega': 26,
 'San Sebastián de los Reyes': 38,
 'Santo Domingo': 5,
 'Serranillos del Valle': 2,
 'Sevilla la Nueva': 3,
 'Torrejón de Ardoz': 77,
 'Torrejón de Velasco': 3,
 'Torrejón de la Calzada': 10,
 'Torrelodones': 19,
 'Torres de la Alameda': 6,
 'Tres Cantos': 9,
 'Ugena': 2,
 'Valdelagua': 2,
 'Valdemorillo': 12,
 'Valdemoro': 51,
 'Velilla de San Antonio': 24,
 'Villalbilla': 12,
 'Villanueva de la Cañada': 33,
 'Villanueva del Pardillo': 30,
 'Villaviciosa de Odón': 31}

In [20]:
dictionary = df['neighborhood'].value_counts().to_dict()
dictionary

{'12 de Octubre-Orcasur': 15,
 'Abrantes': 58,
 'Acacias': 46,
 'Adelfas': 16,
 'Alameda de Osuna': 5,
 'Almagro': 74,
 'Almendrales': 39,
 'Alto de la Jabonería': 1,
 'Aluche': 72,
 'Ambroz': 30,
 'Amposta': 9,
 'Apóstol Santiago': 16,
 'Arapiles': 42,
 'Aravaca': 51,
 'Arcos': 49,
 'Argüelles': 46,
 'Arroyo del Fresno': 1,
 'Atalaya': 57,
 'Batallas': 18,
 'Bellas Vistas': 70,
 'Bernabéu-Hispanoamérica': 45,
 'Berruguete': 66,
 'Buena Vista': 61,
 'Butarque': 27,
 'Campamento': 18,
 'Campo de Tiro': 1,
 'Campo de las Naciones-Corralejos': 2,
 'Campodón - Ventorro del Cano': 3,
 'Canillas': 48,
 'Canillejas': 17,
 'Casa de Campo': 12,
 'Casco Antiguo': 86,
 'Casco Histórico de Barajas': 15,
 'Casco Histórico de Vallecas': 31,
 'Casco Histórico de Vicálvaro': 11,
 'Castellana': 61,
 'Castilla': 28,
 'Chopera': 67,
 'Chueca-Justicia': 108,
 'Ciudad Jardín': 26,
 'Ciudad Universitaria': 55,
 'Colina': 6,
 'Comillas': 85,
 'Concepción': 25,
 'Conde Orgaz-Piovera': 50,
 'Costillares': 25,
 'Cuatro Caminos': 71,
 'Cuatro Vientos': 1,
 'Cuzco-Castillejos': 56,
 'Delicias': 51,
 'Descubridores-Escritores': 3,
 'El Burgo': 23,
 'El Cantizal': 11,
 'El Carrascal': 9,
 'El Cañaveral - Los Berrocales': 2,
 'El Caño- Maracaibo': 5,
 'El Monte': 9,
 'El Peñalar - Arroyo de Trofas - Montealegre': 5,
 'El Pinar- Punta Galea': 4,
 'El Plantío': 31,
 'El Viso': 57,
 'Ensanche de Vallecas - La Gavia': 30,
 'Entrevías': 28,
 'Estrella': 15,
 'Europolis': 8,
 'Flores': 8,
 'Fontarrón': 24,
 'Fuente del Berro': 45,
 'Fuentelarreina': 6,
 'Gaztambide': 42,
 'Goya': 132,
 'Guindalera': 100,
 'Hellín': 26,
 'Huertas-Cortes': 68,
 'Ibiza': 63,
 'Imperial': 52,
 'Jerónimos': 25,
 'La Cañadilla': 1,
 'La Chopera': 2,
 'La Finca': 30,
 'La Fortuna': 30,
 'La Paz': 18,
 'Las Dehesillas-Vereda de los Estudiantes': 4,
 'Las Matas- Peñascales': 15,
 'Las Tablas': 12,
 'Lavapiés-Embajadores': 224,
 'Leganés norte': 4,
 'Legazpi': 24,
 'Lista': 82,
 'Los Cármenes': 20,
 'Los Rosales': 58,
 'Los Ángeles': 65,
 'Lucero': 104,
 'Malasaña-Universidad': 177,
 'Marazuela- El Torreón': 9,
 'Marroquina': 11,
 'Media Legua': 27,
 'Mirasierra': 19,
 'Molino de la Hoz': 1,
 'Monte Rozas': 2,
 'Montecarmelo': 19,
 'Montecillo - Pinar de las Rozas': 12,
 'Monteclaro': 7,
 'Moscardó': 50,
 'Niño Jesús': 18,
 'Nueva España': 33,
 'Nuevos Ministerios-Ríos Rosas': 53,
 'Numancia': 125,
 'Opañel': 57,
 'Orcasitas': 13,
 'Pacífico': 31,
 'Palacio': 77,
 'Palomas': 21,
 'Palomeras Bajas': 34,
 'Palomeras sureste': 50,
 'Palos de Moguer': 55,
 'Parque Empresarial': 3,
 'Parque Lisboa - La Paz': 17,
 'Parque Mayor': 15,
 'Parque Ondarreta - Urtinsa': 9,
 'Parque oeste - Fuente Cisneros': 3,
 'Pau de Carabanchel': 13,
 'Pavones': 9,
 'Peñagrande': 43,
 'Pilar': 29,
 'Pinar del Rey': 67,
 'Portazgo': 30,
 'Prado Largo': 13,
 'Prado de Santo Domingo': 10,
 'Prado de Somosaguas': 20,
 'Pradolongo': 21,
 'Prosperidad': 130,
 'Pueblo Nuevo': 120,
 'Puerta Bonita': 67,
 'Puerta del Ángel': 123,
 'Quintana': 63,
 'Recoletos': 60,
 'Rejas': 19,
 'Rosas': 11,
 'Salvador': 15,
 'San Andrés': 76,
 'San Cristóbal': 27,
 'San Diego': 134,
 'San Fermín': 14,
 'San Isidro': 102,
 'San Juan Bautista': 5,
 'San Nicasio': 35,
 'San Pascual': 18,
 'Sanchinarro': 39,
 'Santa Eugenia': 11,
 'Santos': 17,
 'Simancas': 78,
 'Sol': 43,
 'Solagua': 2,
 'Somosaguas': 58,
 'Timón': 9,
 'Trafalgar': 72,
 'Tres Olivos - Valverde': 24,
 'Valdeacederas': 65,
 'Valdebernardo - Valderribas': 9,
 'Valdemarín': 19,
 'Valderas - Los Castillos': 9,
 'Valdezarza': 46,
 'Vallehermoso': 22,
 'Ventas': 93,
 'Ventilla-Almenara': 15,
 'Vinateros': 12,
 'Virgen del Cortijo - Manoteras': 8,
 'Vista Alegre': 114,
 'Vírgenes': 1,
 'Yucatán- Las Cornisas': 6,
 'Zarzaquemada': 34,
 'Zofío': 26,
 'Zona Avenida Europa': 11,
 'Zona Centro Joven': 9,
 'Zona Estación': 38,
 'Zona Pueblo': 23,
 'Zona Renfe': 9,
 'Zona norte': 7,
 'nan': 1,
 'Águilas': 23}

In [21]:
# Replace specific values with something else
#df['floor'] = df['floor'].replace(['-1', 'ss', 'bj'], 'bajo')
#df['floor'] = df['floor'].replace(['1'], 'normal')
#...