# Idealista API JSON Files
Convert JSON files into one DataFrame to work with

In [1]:
# Load Google Drive
from google.colab import drive

# Mount Google Drive through authorization
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Load all necessary libraries
import json, os
from pandas import json_normalize
import pandas as pd
import numpy as np

All JSON files downloaded from the API of Idealista.

In [3]:
### CHANGE THIS PATHNAME TO THE ONE THAT CONTAINS ALL JSON FILES ###
path = '/content/drive/My Drive'
# Set Working Directory where all JSON files are located
os.chdir(path)
# View Working Directory
os.getcwd()

'/content/drive/My Drive'

In [4]:
# Empty list to store data
appended_data = []

# For loop to go through all files in the directory
for filename in os.listdir(path):
    # Condition to only open JSON files
    if filename.endswith('.json'):
        # Load all JSON files
        with open(os.path.join(path, filename)) as f:
            data = json.load(f)
    # Create DataFrame from normalized JSON dictionary
    df = pd.DataFrame.from_dict(json_normalize(data['elementList']))

    # Append the empty list to store the DataFrame data
    appended_data.append(df)

# Concatinate DataFrames
appended_data = pd.concat(appended_data)
df = appended_data
# Save DataFrame as a CSV
#df.to_csv('ALL-JSON-FILES.csv')

# Count number of variables (columns)
print('Number of variables:', len(df.columns))
# Count number of records (rows)
print('Number of records:', len(df.index))

# See IF a file has a wrong format
#print(f)

Number of variables: 40
Number of records: 24850

## Overview of the Data

In [5]:
# Preview "dirty" data
df.head()

  propertyCode  ... topNewDevelopment
0   [86350566]  ...               NaN
1   [88820218]  ...               NaN
2   [88536347]  ...               NaN
3   [88744592]  ...               NaN
4   [87535127]  ...               NaN

[5 rows x 40 columns]

In [6]:
# View all DataFrame column names
df.columns

Index(['propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'price',
       'propertyType', 'operation', 'size', 'exterior', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'district', 'country',
       'latitude', 'longitude', 'showAddress', 'url', 'distance', 'hasVideo',
       'status', 'newDevelopment', 'newDevelopmentFinished', 'priceByArea',
       'hasPlan', 'has3DTour', 'has360', 'parkingSpace.hasParkingSpace',
       'parkingSpace.isParkingSpaceIncludedInPrice', 'detailedType.typology',
       'detailedType.subTypology', 'suggestedTexts.subtitle',
       'suggestedTexts.title', 'neighborhood', 'floor', 'hasLift',
       'parkingSpace.parkingSpacePrice', 'topNewDevelopment'],
      dtype='object')

In [7]:
# See Data Types
df.dtypes

propertyCode                                  object
thumbnail                                     object
externalReference                             object
numPhotos                                     object
price                                         object
propertyType                                  object
operation                                     object
size                                          object
exterior                                      object
rooms                                         object
bathrooms                                     object
address                                       object
province                                      object
municipality                                  object
district                                      object
country                                       object
latitude                                      object
longitude                                     object
showAddress                                   object
url                                           object
distance                                      object
hasVideo                                      object
status                                        object
newDevelopment                                object
newDevelopmentFinished                        object
priceByArea                                   object
hasPlan                                       object
has3DTour                                     object
has360                                        object
parkingSpace.hasParkingSpace                  object
parkingSpace.isParkingSpaceIncludedInPrice    object
detailedType.typology                         object
detailedType.subTypology                      object
suggestedTexts.subtitle                       object
suggestedTexts.title                          object
neighborhood                                  object
floor                                         object
hasLift                                       object
parkingSpace.parkingSpacePrice                object
topNewDevelopment                             object
dtype: object

## Cleaning and transformations

In [8]:
# STRINGS
for column in df:
    # Convert to string
    df[column] = df[column].astype(str)
    # Remove unnecessary characters
    df[column] = df[column].str.lstrip("['")
    df[column] = df[column].str.rstrip("]'")

# INTEGERS
for column in df[['propertyCode', 'numPhotos', 'price', 'priceByArea', 'rooms', 'bathrooms', 'distance', 'size', 'parkingSpace.parkingSpacePrice']]:
    # Convert to integers
    df[column] = pd.to_numeric(df[column], errors='coerce')
    
# TRUE/FALSE
# Convert to Logical
d = {'True': True, 'False': False}
for column in df[['hasLift', 'exterior', 'parkingSpace.hasParkingSpace', 'newDevelopment', 'newDevelopmentFinished', 'topNewDevelopment', 'parkingSpace.isParkingSpaceIncludedInPrice']]:
  df[column] = df[column].map(d)
  # Replace NaNs with False (0)
  df[column] = df[column].fillna(0)

# Convert True/False to 1/0
for column in df[['hasLift', 'exterior', 'parkingSpace.hasParkingSpace', 'newDevelopment', 'newDevelopmentFinished', 'topNewDevelopment', 'parkingSpace.isParkingSpaceIncludedInPrice']]:
    # Convert TRUE (1) and FALSE (0) to integers
    #df[column] = (df[column] == True).astype(int)
    df[column] = np.where(df[column] == True, 1, 0)

# Categorical variables (Label Encoding) ?
#for column in df[['status']]:
    #df['column'] = df['column'].astype('category')

# Drop unnecessary columns
df.drop(['thumbnail', 'showAddress', 'numPhotos', 'url', 'hasPlan', 'has3DTour', 'has360', 'hasVideo', 'externalReference', 'province', 'operation', 'country', 'detailedType.typology', 'suggestedTexts.subtitle', 'suggestedTexts.title', 'detailedType.subTypology'], axis=1, inplace=True)

In [9]:
# See Data Types
df.dtypes

propertyCode                                    int64
price                                           int64
propertyType                                   object
size                                          float64
exterior                                        int64
rooms                                           int64
bathrooms                                       int64
address                                        object
municipality                                   object
district                                       object
latitude                                       object
longitude                                      object
distance                                        int64
status                                         object
newDevelopment                                  int64
newDevelopmentFinished                          int64
priceByArea                                     int64
parkingSpace.hasParkingSpace                    int64
parkingSpace.isParkingSpaceIncludedInPrice      int64
neighborhood                                   object
floor                                          object
hasLift                                         int64
parkingSpace.parkingSpacePrice                float64
topNewDevelopment                               int64
dtype: object

## Clean DataFrame

In [10]:
# Preview data
df.head()

   propertyCode    price  ... parkingSpace.parkingSpacePrice  topNewDevelopment
0      86350566   612900  ...                            NaN                  0
1      88820218  1250000  ...                            NaN                  0
2      88536347   289000  ...                            NaN                  0
3      88744592  2900000  ...                            NaN                  0
4      87535127   430000  ...                            NaN                  0

[5 rows x 24 columns]

In [11]:
# Total amount of unique Property Codes
total = len(df.index)
uniques = len(df['propertyCode'].unique())

print('There are {} unique properties out of {}.'.format(uniques, total))

There are 10820 unique properties out of 24850.

In [12]:
# Total number of duplicates
df.duplicated(subset = 'propertyCode', keep = 'first').sum()

14030

What is the difference between UNIQUE and DUPLICATES?

In [13]:
# Dropping ALL duplicte values
df.drop_duplicates(subset ='propertyCode', 
                     keep = 'first', inplace = True)

In [14]:
# Preview unique data
df.head()

   propertyCode    price  ... parkingSpace.parkingSpacePrice  topNewDevelopment
0      86350566   612900  ...                            NaN                  0
1      88820218  1250000  ...                            NaN                  0
2      88536347   289000  ...                            NaN                  0
3      88744592  2900000  ...                            NaN                  0
4      87535127   430000  ...                            NaN                  0

[5 rows x 24 columns]

In [15]:
# Total amount of unique Property Codes
total = len(df.index)

print('There are {} total unique records.'.format(total))

There are 10820 total unique records.

In [16]:
# Reset DataFrame Index
df.reset_index(drop=True, inplace=True)

In [17]:
######################################################
# Save cleaned DataFrame without Duplicates as a CSV #
#df.to_csv('ALL-JSON-FILES.csv')                     #
######################################################

## Analysis

In [18]:
# Value counts of column
df['floor'].value_counts()

1      2094
2      1775
3      1510
bj     1498
nan    1340
4      1107
5       556
6       285
7       179
en      146
8        85
9        61
ss       55
10       33
st       27
11       19
12       19
14       12
-1       11
13        3
15        2
17        1
16        1
-2        1
Name: floor, dtype: int64

In [19]:
df['status'].value_counts()

good              7972
renew             1740
nan                826
newdevelopment     282
Name: status, dtype: int64

In [20]:
dictionary = df['municipality'].value_counts().to_dict()
dictionary

{'Ajalvir': 1,
 'Alcalá de Henares': 137,
 'Alcobendas': 32,
 'Alcorcón': 92,
 'Algete': 22,
 'Arganda': 39,
 'Arroyomolinos': 33,
 'Batres': 2,
 'Boadilla del Monte': 57,
 'Brunete': 13,
 'Camarma de Esteruelas': 1,
 'Campo Real': 5,
 'Casarrubuelos': 5,
 'Chinchón': 1,
 'Ciempozuelos': 29,
 'Ciudalcampo': 15,
 'Cobeña': 3,
 'Colmenar Viejo': 36,
 'Colmenarejo': 3,
 'Coslada': 29,
 'Cubas de la Sagra': 14,
 'Daganzo de Arriba': 9,
 'Fuenlabrada': 145,
 'Fuente del Fresno': 2,
 'Fuente el Saz de Jarama': 8,
 'Galapagar': 10,
 'Getafe': 122,
 'Griñón': 12,
 'Hoyo de Manzanares': 7,
 'Humanes de Madrid': 44,
 'La Moraleja': 108,
 'Las Rozas de Madrid': 111,
 'Leganés': 191,
 'Loeches': 17,
 'Madrid': 8355,
 'Majadahonda': 56,
 'Mejorada del Campo': 32,
 'Moraleja de Enmedio': 6,
 'Morata de Tajuña': 1,
 'Móstoles': 116,
 'Navalcarnero': 29,
 'Paracuellos de Jarama': 9,
 'Parla': 112,
 'Pinto': 28,
 'Pozuelo de Alarcón': 175,
 'Quijorna': 9,
 'Rivas-Vaciamadrid': 39,
 'San Agustin de Guadalix': 11,
 'San Fernando de Henares': 10,
 'San Martín de la Vega': 29,
 'San Sebastián de los Reyes': 51,
 'Santo Domingo': 5,
 'Serranillos del Valle': 2,
 'Sevilla la Nueva': 6,
 'Torrejón de Ardoz': 96,
 'Torrejón de Velasco': 3,
 'Torrejón de la Calzada': 12,
 'Torrelodones': 25,
 'Torres de la Alameda': 12,
 'Tres Cantos': 12,
 'Ugena': 2,
 'Valdelagua': 2,
 'Valdemorillo': 12,
 'Valdemoro': 62,
 'Velilla de San Antonio': 29,
 'Villalbilla': 15,
 'Villanueva de la Cañada': 37,
 'Villanueva del Pardillo': 32,
 'Villaviciosa de Odón': 33}

In [21]:
dictionary = df['neighborhood'].value_counts().to_dict()
dictionary

{'12 de Octubre-Orcasur': 16,
 'Abrantes': 93,
 'Acacias': 101,
 'Adelfas': 33,
 'Alameda de Osuna': 8,
 'Almagro': 73,
 'Almendrales': 66,
 'Alto de la Jabonería': 1,
 'Aluche': 85,
 'Ambroz': 32,
 'Amposta': 22,
 'Apóstol Santiago': 18,
 'Arapiles': 73,
 'Aravaca': 41,
 'Arcos': 56,
 'Argüelles': 84,
 'Arroyo del Fresno': 3,
 'Atalaya': 6,
 'Batallas': 16,
 'Bellas Vistas': 123,
 'Bernabéu-Hispanoamérica': 51,
 'Berruguete': 124,
 'Buena Vista': 69,
 'Butarque': 33,
 'Campamento': 20,
 'Campo de Tiro': 1,
 'Campo de las Naciones-Corralejos': 4,
 'Campodón - Ventorro del Cano': 3,
 'Canillas': 58,
 'Canillejas': 28,
 'Casa de Campo': 28,
 'Casco Antiguo': 60,
 'Casco Histórico de Barajas': 12,
 'Casco Histórico de Vallecas': 42,
 'Casco Histórico de Vicálvaro': 21,
 'Castellana': 59,
 'Castilla': 32,
 'Chopera': 121,
 'Chueca-Justicia': 137,
 'Ciudad Jardín': 35,
 'Ciudad Universitaria': 46,
 'Colina': 6,
 'Comillas': 128,
 'Concepción': 47,
 'Conde Orgaz-Piovera': 31,
 'Costillares': 21,
 'Cuatro Caminos': 114,
 'Cuatro Vientos': 4,
 'Cuzco-Castillejos': 72,
 'Delicias': 116,
 'Descubridores-Escritores': 2,
 'El Burgo': 6,
 'El Cantizal': 10,
 'El Carrascal': 9,
 'El Cañaveral - Los Berrocales': 10,
 'El Caño- Maracaibo': 5,
 'El Monte': 6,
 'El Peñalar - Arroyo de Trofas - Montealegre': 2,
 'El Pinar- Punta Galea': 4,
 'El Plantío': 28,
 'El Viso': 72,
 'Ensanche de Vallecas - La Gavia': 46,
 'Entrevías': 47,
 'Estrella': 19,
 'Europolis': 5,
 'Flores': 7,
 'Fontarrón': 38,
 'Fuente del Berro': 66,
 'Fuentelarreina': 8,
 'Gaztambide': 65,
 'Goya': 191,
 'Guindalera': 153,
 'Hellín': 35,
 'Huertas-Cortes': 97,
 'Ibiza': 67,
 'Imperial': 99,
 'Jerónimos': 17,
 'La Cañadilla': 1,
 'La Chopera': 2,
 'La Finca': 18,
 'La Fortuna': 21,
 'La Paz': 18,
 'Las Dehesillas-Vereda de los Estudiantes': 5,
 'Las Matas- Peñascales': 17,
 'Las Tablas': 19,
 'Lavapiés-Embajadores': 377,
 'Leganés norte': 3,
 'Legazpi': 41,
 'Lista': 97,
 'Los Cármenes': 38,
 'Los Rosales': 68,
 'Los Ángeles': 67,
 'Lucero': 150,
 'Malasaña-Universidad': 263,
 'Marazuela- El Torreón': 7,
 'Marroquina': 18,
 'Media Legua': 25,
 'Mirasierra': 15,
 'Molino de la Hoz': 1,
 'Monte Rozas': 4,
 'Montecarmelo': 24,
 'Montecillo - Pinar de las Rozas': 10,
 'Monteclaro': 6,
 'Moscardó': 82,
 'Niño Jesús': 17,
 'Nueva España': 41,
 'Nuevos Ministerios-Ríos Rosas': 80,
 'Numancia': 154,
 'Opañel': 91,
 'Orcasitas': 19,
 'Pacífico': 63,
 'Palacio': 137,
 'Palomas': 13,
 'Palomeras Bajas': 70,
 'Palomeras sureste': 60,
 'Palos de Moguer': 111,
 'Parque Empresarial': 4,
 'Parque Lisboa - La Paz': 19,
 'Parque Mayor': 10,
 'Parque Ondarreta - Urtinsa': 8,
 'Parque oeste - Fuente Cisneros': 3,
 'Pau de Carabanchel': 20,
 'Pavones': 12,
 'Peñagrande': 46,
 'Pilar': 47,
 'Pinar del Rey': 64,
 'Portazgo': 34,
 'Prado Largo': 8,
 'Prado de Santo Domingo': 8,
 'Prado de Somosaguas': 18,
 'Pradolongo': 41,
 'Prosperidad': 159,
 'Pueblo Nuevo': 159,
 'Puerta Bonita': 102,
 'Puerta del Ángel': 187,
 'Quintana': 84,
 'Recoletos': 61,
 'Rejas': 30,
 'Rosas': 19,
 'Salvador': 25,
 'San Andrés': 117,
 'San Cristóbal': 40,
 'San Diego': 195,
 'San Fermín': 26,
 'San Isidro': 181,
 'San Juan Bautista': 10,
 'San Nicasio': 28,
 'San Pascual': 16,
 'Sanchinarro': 38,
 'Santa Eugenia': 20,
 'Santos': 16,
 'Simancas': 93,
 'Sol': 100,
 'Solagua': 3,
 'Somosaguas': 43,
 'Timón': 5,
 'Trafalgar': 131,
 'Tres Olivos - Valverde': 39,
 'V Centenario': 4,
 'Valdeacederas': 104,
 'Valdebernardo - Valderribas': 9,
 'Valdemarín': 16,
 'Valdepelayo-Montepinos-Arroyo Culebro': 1,
 'Valderas - Los Castillos': 7,
 'Valdezarza': 46,
 'Vallehermoso': 38,
 'Ventas': 173,
 'Ventilla-Almenara': 23,
 'Vinateros': 16,
 'Virgen del Cortijo - Manoteras': 9,
 'Vista Alegre': 132,
 'Vírgenes': 1,
 'Yucatán- Las Cornisas': 8,
 'Zarzaquemada': 45,
 'Zofío': 44,
 'Zona Avenida Europa': 14,
 'Zona Centro Joven': 6,
 'Zona Estación': 26,
 'Zona Pueblo': 46,
 'Zona Renfe': 10,
 'Zona norte': 8,
 'nan': 1889,
 'Águilas': 36}

In [22]:
df['parkingSpace.hasParkingSpace'].value_counts()

0    8307
1    2513
Name: parkingSpace.hasParkingSpace, dtype: int64

In [23]:
df['hasLift'].value_counts()

1    6114
0    4706
Name: hasLift, dtype: int64

In [24]:
df['newDevelopment'].value_counts()

0    10538
1      282
Name: newDevelopment, dtype: int64

In [25]:
# Replace specific values with something else
#df['floor'] = df['floor'].replace(['-1', 'ss', 'bj'], 'bajo')
#df['floor'] = df['floor'].replace(['1'], 'normal')
#...